.user-header {
   background: #f59b13;
   background-image: url("../images/asfalt-light.png");
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.profile-pic {
    border-radius: 2%;
    width: 256px;
    height:auto;
}

.h2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

h2 {
    margin-block-start: 0;
}
