nav {
    height: 120px;
    width: 100%;
    z-index: 1;
    background: #4056A1;
    color: #FFFFFF;
    top: 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    position: fixed;
}

.logo {
    font-family: 'Bungee', cursive;
}
  /*
   * Additional CSS can be defined below or in other CSS files, as per instructions
   */